:root {
	--dragbar-height: 40px;
}



/* / */

header.svelte-1pxnud7 {
	-webkit-app-region: drag;
}

header.svelte-1pxnud7 :is(p, a) {
	-webkit-app-region: no-drag;
}

@media (min-width: 959px) {
	header.svelte-1pxnud7 nav.svelte-1pxnud7 a.svelte-1pxnud7.logo {
		padding-left: 40px;
	}
}



/* /chats */

body > #app > .app-sidebar {
	width: auto;
}

body > #app > .app-sidebar > .pillar {
	flex-direction: row;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: var(--dragbar-height);
	padding-left: 80px;
	border-right: none;
	-webkit-app-region: drag;
}

body > #app > .app-sidebar > .pillar > .tray-controls {
	flex-direction: row;
}

body > #app > .app-sidebar > .pillar > .user-navigation {
	display: flex;
	flex-direction: row;
	margin-top: 0;
	margin-bottom: 0;
}

body > #app > .app-sidebar > .pillar .tab {
	margin-top: 0;
	margin-bottom: 0;
	-webkit-app-region: no-drag;
}

body > #app > .app-sidebar > .pillar .tab.logo {
	display: none;
}

body > #app > .app-sidebar > #tray {
	top:  var(--dragbar-height);
	left: 0;
}

body > #app > #page {
	margin-left: 0;
	padding-top: var(--dragbar-height);
}

body > #app > .app-sidebar.open ~ #page {
	margin-left: 325px;
}

body > #app > .app-sidebar:not(.open) ~ #page > #chats > .chat {
	border-left: none;
}

body > .modal {
	top: var(--dragbar-height);
}
